

    body {
                overflow-x: hidden;
                overflow-y: hidden;
                background-color:#BAFFC9;
    }

    button{
        margin: 10px;
        padding: 15px 30px;
        font-size:125%;
       // border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        font-family: 'Nuixyber Pro Convert', sans-serif;
    }


     button:hover {
     `  color:white;
     }

     a{
        text-decoration:none;
        color:black;
     }


     .container {
         display: flex;
         gap: 175px;
         width: 100%;
     }

     span{

     }
